<h1>Posts</h1>

<% @posts.each do |post| %>
  <article id="post-<%= post.id %>">
    <h1><%= link_to post.title, post %></h1>
    <span>Posted by: <%= post.author %> on: <%= post.created_at.strftime("%d %B %Y") %></span>
    <p><%= link_to pluralize(post.comments.count, "Comment"), post_path(post, :anchor => "comments") %></p>
  </article>
<% end %> 
<%= link_to 'New Post', new_post_path %>
